/* Mobile responsive styles */
@media (max-width: 600px) {
    .search-container {
        margin-bottom: 150px;
        display: grid;
        grid-template-columns: 1fr auto;
        /* City input takes available space, button auto */
        grid-template-areas:
            /* Country takes full width */
            "country country"
            /* City and buttons share the same row */
            "city buttons";

        gap: 10px;
        align-items: flex-start;

        .search-input-ctrl {
            width: 100%;

            .search-input {
                height: 50px;
                border-radius: 10px;
            }
        }

        .search-input-ctrl:first-of-type {
            grid-area: country;
        }

        .search-input-ctrl:nth-of-type(2) {
            grid-area: city;
        }

        .search-buttons {
            grid-area: buttons;

            .button {
                width: 50px;
                height: 50px;
                border-radius: 10px;

                svg {
                    scale: 0.9;
                }
            }

        }
    }

    .result-container {
        color: var(--black);
        padding: 20px 20px;
        border-radius: 20px;

        .weather-icon {
            scale: 1.4;
            top: -70px;
            right: 30px;
        }

        .weather-info {
            flex-direction: column;

            .weather-text {
                width: 50%;

                .temperature {
                    font-size: 90px;
                }
            }


            .weather-details {
                width: 50%;
                flex-direction: column;
                align-items: flex-end;
                gap: 5px;
                position: absolute;
                bottom: 0px;
                right: 0px;

                .detail {
                    font-size: 15px;

                    .detail-label {
                        margin-right: 0px;
                    }
                }

                .clouds {
                    order: 1;
                }

                .humidity {
                    order: 2;
                }

                .datetime {
                    order: 3;
                }
            }
        }
    }

    .history-container {
        padding: 15px;


        h3 {
            font-size: 19px;
        }

        .history-items {
            .history-item {
                .history-detail {
                    width: 60%;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }

                .history-actions {
                    width: 30%;

                    .action-button {
                        width: 40px;
                        height: 40px;

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }

    .history-item {
        padding: 8px;
    }

    .history-date {
        font-size: 11px;
        margin-right: 10px;
    }

    .action-button {
        width: 24px;
        height: 24px;
    }

    .action-button svg {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 400px) {

    .search-container {
        grid-template-columns: 225px auto;
    }

    .result-container {
        .weather-info {
            .weather-details {
                .detail {
                    font-size: 12px;
                }
            }
        }
    }
}